.sidebar {
    height: 100%;
    width: 250px;
    position: fixed !important;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    list-style: none;
    padding-left: 8px;
    padding-right: 8px;
    /* margin-right: 250px; */
}

.sidebar ul {
    list-style: none;
}

.sidebar li a,
#title {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 8px;
}


.sidebar li:hover {
    background-color: #f1f1f1;
    border-radius: 8px;
}

.sidebar .item-active {
    background-color: #f1f1f1;
    border-radius: 8px;
    margin: 4px;
}

.sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar li {
        font-size: 18px;
    }
}